<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">

    <h5>
      <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/NightWhistler/cynical-chain">Cynical Chain</a></strong>
      - A blockchain implementation from scratch written in Scala using Akka. It is mostly meant as a easy to
      understand introduction to how blockchains work. It has a simple web-based gui which shows graphically
      how the chain reaches consensus.
    </h5>

    <h5>
      <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/nightwhistler/pageturner">PageTurner Reader</a></strong>
      - Android EPUB reader with cloud-sync
      PageTurner is an e-book reader that syncs your progress across devices. (GPL3)
    </h5>

    <h5>
      <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/nightwhistler/htmlspanner">HtmlSpanner</a></strong>
      - Android HTML rendering library with CSS support
      HtmlSpanner started as the HTML rendering library for PageTurner, but was split off into its own project to enable more people to use it. (Apache licensed)
    </h5>
    </div>
  </div>
</div>
</section>
